@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding-left: 0;
}

.Header_Index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 15px grey;
          box-shadow: 0 5px 15px grey;
  width: 100%;
  height: 60px;
}

.Header_Index .Logo_Index {
  height: 28px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .Localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0 15px 40px;
  margin-bottom: 20px;
}

nav .Localisation input {
  border: none;
  margin-left: 15px;
}

nav .Title_Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

nav .Title_Nav h1 {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align-last: center;
  margin-bottom: 0;
}

nav .Title_Nav p {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align-last: center;
}

nav .Container_Btn_Index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

nav .Container_Btn_Index .Btn {
  font-family: "Roboto", sans-serif;
  background: #FF79DA;
  color: white;
  font-size: 1em;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-box-shadow: 5px 5px 10px grey;
          box-shadow: 5px 5px 10px grey;
}

nav .Container_Btn_Index .Btn:hover {
  -webkit-box-shadow: 8px 8px 15px grey;
          box-shadow: 8px 8px 15px grey;
  background-color: #ff80db;
}

.Operation {
  margin-top: 100px;
}

.Operation h2 {
  font-family: "Roboto", sans-serif;
  padding-left: 5%;
  margin-bottom: 30px;
}

.Operation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  padding-left: 0%;
}

.Operation li {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding-left: 1%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.Operation .Round {
  position: relative;
  top: 0px;
  left: 15px;
  width: 24px;
  height: 24px;
  background: #9356DC;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}

.Operation p {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  font-weight: bold;
  z-index: 1;
  width: 100%;
}

.Operation p span {
  color: #ffffff;
  font-size: .8em;
  font-weight: normal;
}

.Operation p i {
  margin: 0 6% 0 9%;
  color: #a2a2a2;
}

.Operation p i:hover {
  color: #9356DC;
}

.Restaurants {
  margin-top: 100px;
}

.Restaurants h2 {
  font-family: "Roboto", sans-serif;
  padding-left: 5%;
}

.Restaurants .Cards_Resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Restaurants .Cards_Resto .Card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  width: 90%;
}

.Restaurants .Cards_Resto .Card a {
  text-decoration: none;
  color: #000;
}

.Restaurants .Cards_Resto .Card .Img_Card_1, .Restaurants .Cards_Resto .Card .Img_Card_2, .Restaurants .Cards_Resto .Card .Img_Card_3, .Restaurants .Cards_Resto .Card .Img_Card_4 {
  height: 173px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}

.Restaurants .Cards_Resto .Card .Img_Card_1 {
  background: url(Img/Menus/Img_Menu_1.jpg);
  background-size: cover;
  background-position: bottom;
}

.Restaurants .Cards_Resto .Card .Img_Card_2 {
  background: url(Img/Menus/Img_Menu_2.jpg);
  background-size: cover;
  background-position: 0% 61%;
}

.Restaurants .Cards_Resto .Card .Img_Card_3 {
  background: url(Img/Menus/Img_Menu_3.jpg);
  background-size: cover;
  background-position: bottom;
}

.Restaurants .Cards_Resto .Card .Img_Card_4 {
  background: url(Img/Menus/Img_Menu_4.jpg);
  background-size: cover;
  background-position: bottom;
}

.Restaurants .Cards_Resto .Card .New {
  font-family: "Roboto", sans-serif;
  border: 1px solid transparent;
  background: #99E2D0;
  position: absolute;
  top: 12px;
  right: 15px;
  text-align: center;
  padding-top: 2px;
  color: green;
  width: 80px;
  height: 30px;
  z-index: 2;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.Restaurants .Cards_Resto .Card .New p {
  font-size: .8em;
  font-weight: bold;
  margin: 0;
  padding-top: 5px;
}

.Restaurants .Cards_Resto .Card .Bannieres {
  font-family: "Roboto", sans-serif;
  border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  -o-border-radius: 0 0 20px 20px;
}

.Restaurants .Cards_Resto .Card .Bannieres h3 {
  margin: 0;
  width: 75%;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 1.1em;
}

.Restaurants .Cards_Resto .Card .Bannieres p {
  margin: 5px 0 5px 0;
  padding-left: 10px;
  font-size: 1em;
  margin-bottom: 10px;
}

.Restaurants .Cards_Resto .Card span {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 1.5em;
}

.Restaurants .Cards_Resto .Card span .Vide {
  position: relative;
}

.Restaurants .Cards_Resto .Card span .Plein {
  color: #ffffff;
  position: absolute;
  right: 0%;
}

.Restaurants .Cards_Resto .Card span .Plein:hover {
  cursor: pointer;
  color: #FF79DA;
  transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
}

.Footer {
  margin-top: 50px;
  background: #3f3f3f;
  padding-left: 20px;
  height: 210px;
  color: white;
}

.Footer .Title_Footer {
  font-family: "Shrikhand";
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  font-size: 1.1em;
}

.Footer p {
  font-family: "Roboto", cursive;
  margin: 0 0 10px 0;
}

.Footer i {
  margin-right: 10px;
  font-size: 15px;
}

.Footer a {
  font-family: "Roboto", cursive;
  text-decoration: none;
  color: white;
  margin: 0;
}
/*# sourceMappingURL=Style.css.map */