@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding-left: 0;
}
$Primary:#9356DC;
$Secondary:#FF79DA;
$Tertiary: #99E2D0;

// .......................Header..............................................

.Header_Index {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px grey;
    width: 100%;
    height: 60px;
    .Logo_Index {
        height: 28px;
    }
}

// .......................Nav.................................................

nav {
    display: flex;
    flex-direction: column;
    .Localisation {
        display: flex;
        justify-content: center;
        padding: 15px 0 15px 40px;
        margin-bottom: 20px;
        input {
            border: none;
            margin-left: 15px;
        }
    }
    .Title_Nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        h1 {
            font-family: "Roboto", sans-serif;
            display: flex;
            justify-content: center;
            text-align-last: center;
            margin-bottom: 0;
        }
        p {
            font-family: "Roboto", sans-serif;
            display: flex;
            font-size: 16px;
            margin-top: 10px;
            justify-content: center;
            text-align-last: center;
        }
    }
    .Container_Btn_Index {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        .Btn {
            font-family: "Roboto", sans-serif;
            background: $Secondary;
            color: white;
            font-size: 1em;
            width: 200px;
            height: 50px;
            border: none;
            cursor: pointer;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            box-shadow: 5px 5px 10px grey;
            &:hover {
                box-shadow: 8px 8px 15px grey;
                background-color: #ff80db;
            }
        }
    }
}

// .......................Fonctionnement......................................

.Operation {
    margin-top: 100px;
    h2 {
        font-family: "Roboto", sans-serif;
        padding-left: 5%;
        margin-bottom: 30px;
    }
    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-left: 0%;
    }
    li {
        font-family: "Roboto", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        padding-left: 1%;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .Round {
        position: relative;
        top: 0px;
        left: 15px;
        width: 24px;
        height: 24px;
        background: $Primary;
        border-radius: 60%;
        -webkit-border-radius: 60%;
        -moz-border-radius: 60%;
        -ms-border-radius: 60%;
        -o-border-radius: 60%;
    }
    p {
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
        font-size: 1em;
        font-weight: bold;
        z-index: 1;
        width: 100%;
        span {
            color: #ffffff;
            font-size: .8em;
            font-weight: normal;
        }
        i {
            margin: 0 6% 0 9%;
            color: rgb(162, 162, 162);
            &:hover {
                color: $Primary;
            }
        }
    }   
}

// .......................Restaurants.........................................

.Restaurants {
    margin-top: 100px;
    h2 {
        font-family: "Roboto", sans-serif;
        padding-left: 5%;
    }
    .Cards_Resto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .Card {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 15px;
            width: 90%;
            a {
                text-decoration: none;
                color: #000;
            }
            .Img_Card_1, .Img_Card_2, .Img_Card_3, .Img_Card_4 {
                height: 173px;
                width: 100%;
                border-radius: 20px 20px 0 0;
                -webkit-border-radius: 20px 20px 0 0;
                -moz-border-radius: 20px 20px 0 0;
                -ms-border-radius: 20px 20px 0 0;
                -o-border-radius: 20px 20px 0 0;
            }
            .Img_Card_1 {
                background: url(Img/Menus/Img_Menu_1.jpg);
                background-size: cover;
                background-position: bottom;
            }
            
            .Img_Card_2 {
                background: url(Img/Menus/Img_Menu_2.jpg);
                background-size: cover;
                background-position: 0% 61%;
            }
            
            .Img_Card_3 {
                background: url(Img/Menus/Img_Menu_3.jpg);
                background-size: cover;
                background-position: bottom;
            }
            
            .Img_Card_4 {
                background: url(Img/Menus/Img_Menu_4.jpg);
                background-size: cover;
                background-position: bottom;
            }
            .New {
                font-family: "Roboto", sans-serif;
                border: 1px solid transparent;
                background: $Tertiary;
                position: absolute;
                top: 12px;
                right: 15px;
                text-align: center;
                padding-top: 2px;
                color: green;
                width: 80px;
                height: 30px;
                z-index: 2;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                p {
                    font-size: .8em;
                    font-weight: bold;
                    margin: 0;
                    padding-top: 5px;
                }
            }   
            .Bannieres {
                font-family: "Roboto", sans-serif;
                border-radius: 0 0 20px 20px;
                -webkit-border-radius: 0 0 20px 20px;
                -moz-border-radius: 0 0 20px 20px;
                -ms-border-radius: 0 0 20px 20px;
                -o-border-radius: 0 0 20px 20px;
                h3 {
                    margin: 0;
                    width: 75%;
                    font-weight: bold;
                    padding-left: 10px;
                    padding-top: 10px;
                    font-size: 1.1em;
                }
                p {
                    margin: 5px 0 5px 0;
                    padding-left: 10px;
                    font-size: 1em;
                    margin-bottom: 10px;
                }
            }
            span {
                position: absolute;
                bottom: 10%;
                right: 10%;
                font-size: 1.5em;
                .Vide {
                    position: relative;
                }
                .Plein {
                    color: #ffffff;
                    position: absolute;
                    right: 0%;
                    &:hover {
                        cursor: pointer;
                        color: $Secondary;
                        transition: all .5s linear;
                        -webkit-transition: all .5s linear;
                        -moz-transition: all .5s linear;
                        -ms-transition: all .5s linear;
                        -o-transition: all .5s linear;
                    }
                }
            }
        }
    }
}