@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding-left: 0;
}
$Primary:#9356DC;
$Secondary:#FF79DA;
$Tertiary: #99E2D0;

// .......................Header..............................................

.Header_Index {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px grey;
    width: 100%;
    height: 60px;
    .Logo_Index {
        height: 28px;
    }
}